{% load crispy_forms_tags %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>
<body style="padding: 20px;">
{% crispy form form.helper %}
<form>
<p>If the 3D printer at TL could print any magical object what would you print:</p>
  <input type="radio" id="male" name="gender" value="male">
  <label for="male">The Elder Wand</label><br>
  <input type="radio" id="female" name="gender" value="female">
  <label for="female">The Resurrection Stone</label><br>
  <input type="radio" id="other" name="gender" value="other">
  <label for="other">The Sword of Gryffindor</label>
    <input type="radio" id="next" name="gender" value="next">
  <label for="other">The Sorting Hat</label>
    <br>
      <p>Which spell would be most useful during a technical project?</p>
  <input type="radio" id="val1" name="q2" value="val1">
  <label for="val1">Oculus Reparo</label><br>
  <input type="radio" id="val2" name="q2" value="val2">
  <label for="val2"> Aquamenti</label><br>
  <input type="radio" id="val3" name="q2" value="val3">
  <label for="val3">Wingardium Leviosa</label><br>
    <input type="radio" id="val4" name="q2" value="val4">
  <label for="val4"> Expelliarmus</label><br>
    <input type="radio" id="val5" name="q2" value="val5">
  <label for="val5"> Petrifious Totalus(freeze spell)</label><br>
     <input type="radio" id="val6" name="q2" value="val6">
  <label for="val6">Bombardo Maxima</label><br>
    <input type="radio" id="val7" name="q2" value="val7">
  <label for="val7">Alohomora</label><br>
    <input type="radio" id="val8" name="q2" value="val8">
  <label for="val8">Obliviate</label><br>
     <input type="radio" id="val9" name="q2" value="val9">
  <label for="val9">Lumos</label><br>
    <input type="radio" id="val10" name="q2" value="val10">
  <label for="val10">Accio</label><br>
    <input type="radio" id="val11" name="q2" value="val11">
  <label for="val10">Piertotum locomotor</label>
    <br>
    <p>If given a chance to use polyjuice potion, whom would you like to turn into:</p>
    <input type="radio" id="val11" name="q3" value="val11">
  <label for="val11">Elon Musk</label><br>
    <input type="radio" id="val12" name="q3" value="val12">
  <label for="val12">Mark Zuckerberg</label><br>
    <input type="radio" id="val13" name="q3" value="val13">
  <label for="val13">Stephen Hawking</label><br>
    <input type="radio" id="val14" name="q3" value="val14">
  <label for="val14">Bill Gates</label><br>
     <input type="radio" id="val15" name="q3" value="val15">
  <label for="val15">Subhashish Chaudhari (Director of IITB)</label>
    <br>
    <p> What pet would you choose as patronus? (Insti pets xD) </p>
    <input type="radio" id="val16" name="q4" value="val16">
  <label for="val16">Cow</label><br>
    <input type="radio" id="val17" name="q4" value="val17">
  <label for="val17">Monkey</label><br>
    <input type="radio" id="val18" name="q4" value="val18">
  <label for="val18">Leopard</label><br>
    <input type="radio" id="val19" name="q4" value="val19">
  <label for="val19">Dog</label><br>
    <input type="radio" id="val20" name="q4" value="val20">
  <label for="val20">Snake</label><br>
    <input type="radio" id="val21" name="q4" value="val21">
  <label for="val21">Ants</label>
    <br>
    <p>Which real-life thing do you find closest to magic?</p>
     <input type="radio" id="val22" name="q5" value="val22">
  <label for="val22">Institute Technical Council</label><br>
    <input type="radio" id="val23" name="q5" value="val23">
  <label for="val23">Alexa</label><br>
    <input type="radio" id="val24" name="q5" value="val24">
  <label for="val24">Sophia The Robot</label><br>
<input type="radio" id="val25" name="q5" value="val25">
  <label for="val25">Space Travel</label><br>
    <input type="radio" id="val26" name="q5" value="val26">
  <label for="val26">Flying planes</label><br>
    <input type="radio" id="val27" name="q5" value="val27">
  <label for="val27">Humans</label>
    <br>
    <p>Which character defines your personality best?</p>
    <input type="radio" id="val27" name="q6" value="val27">
  <label for="val27">Dumbledore(CR)</label><br>
    <input type="radio" id="val28" name="q6" value="val28">
  <label for="val28">Snape(Saanp)</label><br>
    <input type="radio" id="val29" name="q6" value="val29">
  <label for="val29">Hermione(Maggu)</label><br>
    <input type="radio" id="val30" name="q6" value="val30">
  <label for="val30">Harry(Stud)</label><br>
    <input type="radio" id="val31" name="q6" value="val31">
  <label for="val31">Ron(RR)</label><br>
    <input type="radio" id="val32" name="q6" value="val32">
  <label for="val32">Voldemort(RG)</label>
    <input type="radio" id="val33" name="q6" value="val33">
  <label for="val33">Hagrid(God)</label><br>
    <input type="radio" id="val34" name="q6" value="val34">
  <label for="val34">Neville(BT)</label>
    <br>
    <p>Which class would you teach?</p>
    <input type="radio" id="val35" name="q7" value="val35">
  <label for="val35">Potion Making (CH105)</label><br>
  <input type="radio" id="val36" name="q7" value="val36">
  <label for="val36">Transfiguration(ME113)</label><br>
  <input type="radio" id="val37" name="q7" value="val37">
  <label for="val37">Care of Magical Creatures (BB101)</label><br>
  <input type="radio" id="val38" name="q7" value="val38">
  <label for="val38">Flying class (NSO)</label><br>
  <input type="radio" id="val39" name="q7" value="val39">
  <label for="val39">Defence against the Dark Arts(MA109)</label><br>
  <input type="radio" id="val40" name="q7" value="val40">
  <label for="val40">Divination(PH107)</label>
  <br>
  <p>If you could use your technical knowledge after studying at IITB, which would you make:</p>
  <input type="radio" id="val41" name="q8" value="val41">
  <label for="val41">A Flying Broomstick</label><br>
  <input type="radio" id="val42" name="q8" value="val42">
  <label for="val42">Invisibility cloak </label><br>
  <input type="radio" id="val43" name="q8" value="val43">
  <label for="val43">Elixir of Life </label><br>
  <input type="radio" id="val44" name="q8" value="val44">
  <label for="val44">A Horcrux </label>
  <br>
  <p> If you had a vanishing cabinet, what would you do? </p>
  <input type="radio" id="val45" name="q9" value="val45">
  <label for="val45">Get back to insti</label><br>
  <input type="radio" id="val46" name="q9" value="val46">
  <label for="val46">Get back to insti</label><br>
  <input type="radio" id="val47" name="q9" value="val47">
  <label for="val47">Get back to insti</label><br>
  <input type="radio" id="val48" name="q9" value="val48">
  <label for="val48">Get back to insti and end the pandemic #TakeMeBack</label>
  <br>
  <p> Alternate for ‘Triwizard Cup’? </p>
  <input type="radio" id="val49" name="q10" value="val49">
  <label for="val49">Game making competition</label><br>
  <input type="radio" id="val50" name="q10" value="val50">
  <label for="val50">Robot Racing</label><br>
  <input type="radio" id="val51" name="q10" value="val51">
  <label for="val51">RC Plane Competition</label><br>
  <input type="radio" id="val52" name="q10" value="val52">
  <label for="val52">Logic Competition</label><br>
  <input type="radio" id="val53" name="q10" value="val53">
  <label for="val53">Crime Scene Investigation</label><br>
  <input type="radio" id="val54" name="q10" value="val54">
  <label for="val54">Astrophotography Competition</label><br>
  <input type="radio" id="val55" name="q10" value="val55">
  <label for="val55">Chem</label><br>
  <input type="radio" id="val56" name="q10" value="val56">
  <label for="val56">Bio</label>
  <br>
   <p> If you could have one character in your ITSP (Institute Technical Summer Projects) team, who would you pick? </p>
  <input type="radio" id="val57" name="q11" value="val57">
  <label for="val57">Hermione</label><br>
  <input type="radio" id="val58" name="q11" value="val58">
  <label for="val58">Ron</label><br>
  <input type="radio" id="val59" name="q11" value="val59">
  <label for="val59">Harry</label><br>
  <input type="radio" id="val60" name="q11" value="val60">
  <label for="val60">Lord Vordemort</label><br>
  <input type="radio" id="val61" name="q11" value="val61">
  <label for="val61">Snape</label><br>
  <input type="radio" id="val62" name="q11" value="val62">
  <label for="val62">McGonagall</label><br>
  <input type="radio" id="val63" name="q11" value="val63">
  <label for="val63">Dubledore</label><br>
  <input type="radio" id="val64" name="q11" value="val64">
  <label for="val64">Draco</label><br>
  <input type="radio" id="val65" name="q11" value="val65">
  <label for="val65">Luna</label>
  <br>
  <p>If you had the time turner which invention would like to be a part of/destroy?</p>
  <input type="radio" id="val66" name="q12" value="val66">
  <label for="val66">MS Teams</label><br>
  <input type="radio" id="val67" name="q12" value="val67">
  <label for="val67">Cameras</label><br>
  <input type="radio" id="val68" name="q12" value="val68">
  <label for="val68">Calculus</label><br>
  <input type="radio" id="val69" name="q12" value="val69">
  <label for="val69">Alarm Clocks</label><br>
  <input type="radio" id="val70" name="q12" value="val70">
  <label for="val70">Stop the man from eating the bat soup!!!!!!!! </label>
  <br>
  <p>What activity Harry should definitely try at least once at IITB instead of Quidditch?</p>
  <input type="radio" id="val70" name="q13" value="val70">
  <label for="val70">Tech</label><br>
  <input type="radio" id="val71" name="q13" value="val71">
  <label for="val71">Tech</label><br>
  <input type="radio" id="val72" name="q13" value="val72">
  <label for="val72">Tech</label><br>
  <input type="radio" id="val73" name="q13" value="val73">
  <label for="val73">Tech</label>
  <br>
  <p>What would you find first in the Room of Requirement(our Tinkerers’ Lab obvio!)</p>
  <input type="radio" id="val74" name="q14" value="val74">
  <label for="val74">AC</label><br>
   <input type="radio" id="val75" name="q14" value="val75">
  <label for="val75">3D Printer</label><br>
   <input type="radio" id="val76" name="q14" value="val76">
  <label for="val76">Arduino</label><br>
   <input type="radio" id="val77" name="q14" value="val77">
  <label for="val77">Pizza</label><br>
   <input type="radio" id="val78" name="q14" value="val78">
  <label for="val78">Half-Cut Wires</label><br>
   <input type="radio" id="val79" name="q14" value="val79">
  <label for="val79">Breadboards</label><br>
   <input type="radio" id="val80" name="q14" value="val80">
  <label for="val80">Speakers</label><br>
   <input type="radio" id="val81" name="q14" value="val81">
  <label for="val81">Multimeters</label><br>
   <input type="radio" id="val82" name="q14" value="val82">
  <label for="val82">Wire Cutter</label><br>
   <input type="radio" id="val83" name="q14" value="val83">
  <label for="val83">Solder Gun</label><br>
   <input type="radio" id="val84" name="q14" value="val84">
  <label for="val84">Pillow</label>
  <br>
  <p>Profs at IITB be like: </p>
   <input type="radio" id="val85" name="q15" value="val85">
  <label for="val85">Dumbledore</label><br>
  <input type="radio" id="val86" name="q15" value="val86">
  <label for="val86">McGonagall</label><br>
  <input type="radio" id="val87" name="q15" value="val87">
  <label for="val87">Snape</label><br>
  <input type="radio" id="val88" name="q15" value="val88">
  <label for="val88">Slughorn</label>
  <br>
</form>























</body>
</html>
